@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #021521;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color:rgb(1 23 47);
  /* background: transparent; */
  border: 2px solid rgb(238, 232, 232);
  border-radius: 20px;
  backdrop-filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }
  
  .forget label input {
    margin-right: 3px;
    padding-left: 12px;
    color: rgb(35, 0, 81);
  }
  
  .forget a {
    color: rgb(235, 228, 228);
    text-decoration: none;
    margin-left: 60px; /* Pushes the "Forget Password" link to the right */
  }
  
  .forget a:hover {
    text-decoration: underline;
  }
  
  
.forget label a {
  color: rgb(235, 228, 228);
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underli
}
#login_button {
    margin-top: 20px; /* Adjust the top margin as needed */
  }
  
  .custom_submit_button {
    width: 100%;
    height: 40px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom_submit_button:hover {
    background-color: #040e5f;
    color: #fff;
  }
  a {
    color: #fff;
    margin-left: 43px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline; /* Apply underline on hover */
    color: rgb(93, 220, 177);

  }
  
  p {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 30px;

  }
  
  
